.container {
  margin: 3rem 0 !important;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.7);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.7);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.7);
}

.infected,
.recovered,
.deaths {
  box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32) !important;
  margin: 10px !important;
  border-radius: 15px !important;
}

.MuiTypography-h6 {
  text-align: center;
  color: blue;
}
