.container {
  margin: 1rem 0 !important;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12rem;
  grid-gap: 1rem;
  grid-template-areas: 
  "first second third"
}

@media screen and (max-width: 660px) {
  .container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 10rem;
    grid-gap: 1rem;
    grid-template-areas: 
    "first"
    "second"
    "third"
  }

  .card {
    width: 100%;
  }
}

.first .card {
  grid-area: first;
  
}

.second .card{
  grid-area: second;
  
}

.third .card {
  grid-area: third;
  
}

.card {
  background-color: #00688B;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 0px 4px 10px 4px rgb(0,0,0,0.34);
}

.title {
  margin: 10px 0;
  font-size: 1.3rem;
}

.value {
  margin: 10px 0 0 0;
  font-size: 1.7rem;
}

.date {
  margin: 10px 0 0 0;
  font-size: 0.7rem;
}

