.headerContainer {
  background-color: #33b5e5;
  height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.imgDiv {
  width: 13rem;
  padding: auto;
  text-align: center;
  margin-left: 1rem;
  height: 4rem;
  display: flex;
}

.headerImage {
  width: 100%;
  margin: auto;
  align-items: center;
}

.ulHeader {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  align-items: center;
}

.link,
li {
  list-style: none;
  text-decoration: none;
}

.link {
  font-size: 1.3rem;
  color: #fff;
  border-bottom: none;
  padding-bottom: 1rem;
  margin: auto 1rem;
}

.link:hover {
  color: #2f4f4f;
}

.menu {
  display: none;
}

@media screen and (max-width: 660px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
    height: auto;
    position: relative;
  }

  .ulHeader {
    display: none;
  }

  .ulHeaderExpand {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .imgDiv {
    padding: auto;
    text-align: center;
  }

  .menu {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 5%;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: #71c6e6;
  }

  .menu:hover {
    cursor: pointer;
  }
}
