.container {
  margin: 0rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 40rem;
  grid-gap: 1rem;
  grid-template-areas: 
  "news news overview overview overview overview"
}

.newsSection {
  grid-area: news;
}

.indiaOverview {
  grid-area: overview;
}

.box{
  background: #fff;
  box-shadow: 0px 4px 10px 4px rgb(0,0,0,0.14);
  text-align: center;
  border-radius: 10px;
}

.box h4 {
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid #D0D0D0;
  font-size: 1.2rem;
  text-align: left;
}

/* =================================================== */

.newsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
  
}


.update {
  background: #fff;
  box-shadow: 0px 4px 10px 4px rgb(0,0,0,0.14);
  text-align: left;
  border-radius: 2px;
  padding: 0 16px;
  margin: 5px;
}

.title {
  padding: 0px;
  margin: 7px;
  font-size: 1.1rem;
  color: #606060;
}

.time {
  padding: 0;
  margin: 7px;
  margin-top: 4px;
  font-size: 0.7rem;
  text-align: right;
  color: #808080;
}

.newsContainer::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
} 

.newsContainer::-webkit-scrollbar-thumb {
  background-color:	#A8A8A8;
  border-radius: 2px;
}

.newsContainer::-webkit-scrollbar-track {
  background-color: #fff;
}

/* =================================================== */

.displayGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
}

/* =================================================== */

@media screen and (max-width: 660px) {
  .container {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40rem;
  grid-gap: 1rem;
  grid-template-areas: 
  "news news news news"
  "overview overview overview overview"
  }
}

/* =================================================== */

.indiaOverview h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}