.container {
  margin: 0rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 40rem;
  grid-gap: 2rem;
  grid-template-areas:
    "indiaMap indiaMap indiaMap indiaMap indiaInfo indiaInfo"
    "stateMap stateMap stateMap stateMap stateInfo stateInfo";
}

@media screen and (max-width: 900px) {
  .container {
    margin: 0rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40rem;
    grid-gap: 2rem;
    grid-template-areas:
      "indiaMap indiaMap indiaMap"
      "indiaInfo indiaInfo indiaInfo"
      "stateMap stateMap stateMap"
      "stateInfo stateInfo stateInfo";
  }
}

.indiaMap {
  grid-area: indiaMap;
}

.stateMap {
  grid-area: stateMap;
}

.indiaInfo {
  grid-area: indiaInfo;
}

.stateInfo {
  grid-area: stateInfo;
}

.loadingDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* ==================================================================================== */

.indiaUpdateContainer {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}

@media screen and (max-width: 660px) {
  .indiaUpdateContainer {
    overflow-x: auto;
  }

  .columnWidth {
    width: 4rem;
  }
}

.box {
  border-radius: 5px;
  /* box-shadow: 0px 4px 10px 4px rgb(0,0,0,0.34); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  width: 20%;
}

.box h1 {
  margin: 10px;
  padding: 10px;
}

.confirmed {
  background: rgba(255, 7, 58, 0.12549);
  color: #ff073a;
}

.active {
  background: rgba(0, 123, 255, 0.0627451);
  color: #007bff;
}

.deaths {
  background: rgba(108, 117, 125, 0.0627451);
  color: #6c757d;
}

.recovered {
  background: rgba(40, 167, 69, 0.12549);
  color: #28a745;
}

/* ==================================================================================== */

.box2 {
  background: #fff;
  box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.14);
  text-align: center;
  border-radius: 10px;
}

.stateList {
  height: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 0 1rem 0;
  width: 95%;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.tableHeader {
  background-color: #398b93;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -4px 10px 4px rgb(0, 0, 0, 0.14);
}

.tableBody {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgb(0, 0, 0, 0.14);
  /* overflow-x:scroll; */
  overflow-y: scroll;
  height: 90%;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  margin: 0;
}

tr {
  margin: 0;
}

.stateRow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.selectedStateRow {
  background-color: rgba(0, 0, 0, 0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar:horizontal {
  width: 6px;
  border-radius: 3px;
}
::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* ==================================================================================== */

.graphListParentDiv {
  height: 100%;
  overflow-x: auto;
}

.graphsListContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  height: 95%;
}

.boxSizing {
  width: 95%;
  height: 10rem;
  margin: 1rem;
  border-radius: 5px;
}

.confirmedDiv {
  background: rgba(255, 7, 58, 0.12549);
  color: #ff073a;
}

.activeDiv {
  background: rgba(0, 123, 255, 0.0627451);
  color: #007bff;
}

.deceasedDiv {
  background: rgba(108, 117, 125, 0.0627451);
  color: #6c757d;
}

.recoveredDiv {
  background: rgba(40, 167, 69, 0.12549);
  color: #28a745;
}

.testedDiv {
  background: rgba(32, 26, 162, 0.12549);
  color: rgba(32, 26, 162, 0.866667);
}

#districtList {
  height: 97%;
}

.zoneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.zoneContainer div {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.greenZone {
  background: rgba(40, 167, 69, 0.12549);
  color: #28a745;
  display: inline;
  margin: 10px;
  padding: 10px;
}

.orangeZone {
  background: rgba(255, 189, 7, 0.125);
  color: #ffb007;
  display: inline;
  margin: 10px;
  padding: 10px;
}

.redZone {
  background: rgba(255, 7, 58, 0.12549);
  color: #ff073a;
  display: inline;
  margin: 10px;
  padding: 10px;
}
