.container {
  height: 15rem;
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.box {
  margin: auto 3rem;
}

.fas {
  margin: auto 1rem;
  color: #fff;
}

.box h5 {
  margin: 10px;
}

.quote h5 {
  text-align: right;
}

.top {
  position: absolute;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
}
